.square{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: gray;
}

.relative-box{
    position: relative;
    background-color: darkkhaki;
    top: 10px;
    left: 10px;
}

.absolute-box{
    position: absolute;
    background-color: darkorchid;
    top: 10px;
    left:10px;
}

.fixed{
    position: fixed;
    background-color: coral;

    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}


.z-index-1{
    background-color: brown;
    top: 300px;
    left: 300px;
    z-index: 4;

}
.z-index-2{
    background-color: green;
    top: 350px;
    left: 350px;
    z-index: 45;

}
.z-index-3{
    background-color: darkcyan;
    top: 400px;
    left: 400px;
    z-index: 3;

}